/* Body & HTML */
html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

/* Fonts % Icons & Lists */
h1 {
    font-size: 3rem;
    margin: 0;
}

h1 {
    margin-left: 1rem;
}

h3, h2 {
    font-family: 'Poiret One', cursive;
    margin: 0;
}

.fa-github, .fa-linkedin-in {
    color: black;
    font-size: 2rem;
}

ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-me p {
    padding-left: 1rem;
}

/* Content */
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 175, 255);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.logo {
    display: flex;
    width: 60%;
    min-width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.resume {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/pattern.png);
    background-size: 100%;
    background-repeat: repeat;
    height: 100%;
}

.lime-blob {
    margin: 0;
    padding-left: 1rem;
    top: 0;
    height: 110%;
    width: 55%;
}

.contact-box {
    position: absolute; 
    flex-wrap: nowrap;
    top: 12rem;
    left: 14%;
    margin: 0 auto; 
    text-align: center;  
    padding:1rem;
}

.box-2 {
    background-image: url(/images/orange-blob.png);
    background-size: 140%;
    background-repeat: no-repeat;
    text-align: right;
    width: 50rem;
}

.box-2 img {
    margin-top: 10%;
    max-width: 80%;
}

.pix-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 2rem;    
    justify-content: space-between;
}

.pix-container img {
    width: 100%;

}

.pix-1 {
    width: 50%;

}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
    background-color:rgb(169, 175, 255);
}

/*Buttons*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(255, 255, 255);
    color: #444;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
  }