@media (max-width: 40em) {
    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.6rem;
    }

    h4 {
        font-size: 0.4rem;
    }
    p {
        font-size: 0.5rem;
    }
    .resume {
        flex-direction: column;
        justify-content: center;
    }

    .contact-box {
        padding-top: 0;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        text-align: center;    
        position: relative;
    }

    .pix-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}