@media (max-width: 40em) {
    /* Fonts */
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
        margin-top: 0;       
    }

    .fa-github, .fa-linkedin-in {
        font-size: 2rem;
    }

    /* Contact Info */
    .contact-text {
        padding-top: 0;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        text-align: center;    
        position: relative;
    }

    /* Portfolio */
    .pix-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Resume */
    .resume {
        flex-direction: column;
        justify-content: center;
    }

    /* Buttons */

    .foldout {
        margin-bottom: 0.5rem;
    }

    .content {
        margin-bottom: 0.5rem;
    }

    .resume >* {
        margin: 0;
    }

    .resume-content {
        padding:0;
    }
}