@media (max-width: 40em) {
    /* Fonts */
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .fa-github, .fa-linkedin-in {
        font-size: 2rem;
    }

    /* Contact Info */
    .contact-text {
        padding-top: 0;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        text-align: center;    
        position: relative;
    }

    /* Portfolio */
    .pix-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Resume */
    .resume {
        flex-direction: column;
        justify-content: center;
    }
}