html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 175, 255);
    padding-top: 10rem;
    padding-bottom: 2rem;

}
h1, p {
    margin-left: 1rem;
}

.logo {
    display: flex;
    width: 60%;
    min-width: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.portfolio {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: ;
    background-image: url(/images/pattern.png);
    background-size: 100%;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}
 

.lime-blob {
    position: relative;
    margin: 0;
    left: 3rem;
    top: 0;
    width: 50rem;
    max-width: 105%;
}

.text {
    position: absolute;
    width: auto;
    padding-left: 11rem;
    padding-top: 6rem;

}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-color: lightcoral;
}

h3 {
    margin: 0;
}
